Package: example.blue
Name: Blue
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Repo on Vercel
Author: Repo on Vercel
Section: Tweaks
Icon: file:///Library/PreferenceBundles/BluePreferences.bundle/icon@3x.png
